
@charset "UTF-8";
body {
	margin: 0;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
/****** 메인화면 로그인,회원가입 시작 *****/
ul.mainHeaderLogin {
	background-color: #efefef;
	height: 30px;
	margin: 0;
}
ul.mainHeaderLogin li:first-of-type { 
	margin-right: 40px;
}
ul.mainHeaderLogin li a{
	float: right;
	padding: 5px;
	color: #777676;
	margin-left: 15px;
	font-size: 13px;
}
ul.mainHeaderLogin li a:hover {
	color: #565656;
}

/***메인화면 상단 로고 및 검색창***/
div.maintop {
	border-bottom: 1px solid orange;
}
div.innerTop {
	width: 70%;
	margin: 0 auto;
}
div.innerTop img {
	width: 200px;
	margin: 15px;
	vertical-align: top;
}
div.topSearchForm {
	display: inline-block;
    margin-left: 6%;
    position: relative;
    padding-top: 2.2%;
}
div.topSearchForm input[type="text"] {
	padding: 14px;
    border: 3px solid orange;
    outline: orange;
    border-radius: 9px;
    font-size: 1.1em;
}
div.topSearchForm input[type="submit"] {
	display: none;
}
div.topSearchForm label {
	position: absolute;
	bottom: 9px;
	right: 10px;
	color: #f3682e;
	cursor: pointer;
}
/***인기검색어-랜덤처리***/
div.popSearch {
	display: inline-block;
	margin-left: 15px;
	position: relative;
}
div.popSearch b {
	color: #164803;
}
/***헤더 아이콘***/
ul.topMyInfo {
	float: right;
}
ul.topMyInfo li {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
ul.topMyInfo li span {
	color: #4a4a4a;
	font-size: 0.8em;
}
ul.topMyInfo li i {
	margin-bottom: 2px;
}
ul.topMyInfo li a {
	color: orange;
}
ul.topMyInfo li a:first-of-type {
	margin-left: 15px;
}
/***헤더 서브메뉴***/
div.headerSubMenu {
	background-color: orange;
	height: 60px;
}
div.headerSubMenu ul {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	font-size: 1.2em;
	line-height: 2;
}
div.headerSubMenu ul li {
	display:table-cell;
	padding: 10px;
	width: 1%;
}
div.headerSubMenu ul li a{
	color: white;
	font-weight: bold;
	letter-spacing: 5px;
}
div.headerSubMenu ul li a:hover {
	color: #fffc00;
}
div.headerSubMenu ul li input[type="checkbox"]{
	display: none;
}
div.headerSubMenu ul li.moresub {
	position: relative;
	color: white;
	font-weight: bold;
	letter-spacing: 5px;
}
div.headerSubMenu ul li input[type="checkbox"]:checked~ul.moreSubMenu{
	display: block;
}
div.headerSubMenu ul li ul.moreSubMenu {
	border:1px solid #ddd;
	border-radius:5px;
	position: absolute;
	padding: 5px;
	width: 100%;
	background-color: white;
	z-index: 999;
	right: 0;
	display:none;
}
div.headerSubMenu ul li ul.moreSubMenu li {
    padding: 5px;
    width: 100%;
    text-align: center;
    display: block;
}
div.headerSubMenu ul li ul.moreSubMenu li a{
	color: gray;
	font-size: 0.8em;
	font-weight: lighter;
}
div.headerSubMenu ul li ul.moreSubMenu li a:hover {
	color: black;
}

/***이미지슬라이드***/
div.bx-viewport {
	text-align: center;
}
div.mainImgSlider ul.bxslider li img {
	width: 1400px;
	height: 457px;

}

/**수정**/
div.bx-controls-direction {
	
}






/***버전.2




ul.mainHeaderLogin {
	background-color: #efefef;
	height: 30px;
	margin: 0;
}
ul.mainHeaderLogin li:first-of-type { 
	margin-right: 40px;
}
ul.mainHeaderLogin li a{
	float: right;
	padding: 5px;
	color: #777676;
	margin-left: 15px;
	font-size: 13px;
}
ul.mainHeaderLogin li a:hover {
	color: #565656;
}


div.maintop {
	background-color: orange;
}
div.innerTop {
	width: 70%;
	margin: 0 auto;
}
div.innerTop img {
	width: 200px;
	margin: 15px;
	vertical-align: top;
}
div.topSearchForm {
	display: inline-block;
    margin-left: 6%;
    position: relative;
    padding-top: 2.2%;
}
div.topSearchForm input[type="text"] {
	padding: 14px;
    border: none;
    outline: white;
    border-radius: 9px;
    font-size: 1.1em;
}
div.topSearchForm input[type="submit"] {
	display: none;
}
div.topSearchForm label {
	position: absolute;
	bottom: 7px;
	right: 5px;
	color: #f3682e;
	cursor: pointer;
}
div.popSearch {
	display: inline-block;
	margin-left: 15px;
	position: relative;
}
div.popSearch b {
	color: #164803;
}
ul.topMyInfo {
	float: right;
}
ul.topMyInfo li {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
ul.topMyInfo li span {
	color: #4a4a4a;
	font-size: 0.8em;
}
ul.topMyInfo li i {
	margin-bottom: 2px;
}
ul.topMyInfo li a {
	color: white;
}
ul.topMyInfo li a:first-of-type {
	margin-left: 15px;
}


***/