
@charset "UTF-8";
body {
	margin: 0;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
/****** 메인화면 로그인,회원가입 시작 *****/
ul.mainHeaderLogin {
	background-color: #efefef;
	height: 30px;
	margin: 0;
}
ul.mainHeaderLogin li:first-of-type { 
	margin-right: 40px;
}
ul.mainHeaderLogin li a{
	float: right;
	padding: 5px;
	color: #777676;
	margin-left: 15px;
	font-size: 13px;
}
ul.mainHeaderLogin li a:hover {
	color: #565656;
}

/***메인화면 상단 로고 및 검색창***/
div.maintop {
	background-color: orange;
}
div.innerTop {
	width: 80%;
	margin: 0 auto;
}
div.innerTop h1.logo {
	display: inline-block;
}
div.topSearchForm {
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
div.topSearchForm input[type="text"] {
	padding: 10px;
    border: none;
    outline: white;
    border-radius: 9px;
}
div.topSearchForm input[type="submit"] {
	display: none;
}
div.topSearchForm label {
	position: absolute;
	top: 1px;
	right: 5px;
	color: gray;
}